<div class="container">

  <h3>Create your own account below:</h3>
  <form action="/signup" method="post">
    username: <input type="text" name="username"><br><br>
    email: <input type="text" name="email"><br><br>
    password: <input type="password" name="password"><br><br>
    <input type="submit" value="Login">
  </form>

</div>

